<div class="row text-center text-black mb-5">
    <div class="col-lg-7 mx-auto">
        <h1 class="display-4">Kitchen Story</h1>
    </div>
</div>
<div class="row" style="justify-content: center;">
    <div style="padding: 2rem;">
        <a routerLink="/admin">Admin Login</a><br>
    </div>
    <div style="padding: 2rem;">
        <a routerLink="/listProducts">Buy Products</a>
    </div>
</div>

<router-outlet></router-outlet>
<!-- <img src="https://w0.peakpx.com/wallpaper/760/93/HD-wallpaper-food-still-life-meat-mushroom-spices.jpg"
    style="position: sticky; width: 100%;" alt=""> -->