.productBody {
  background: linear-gradient(to right, #555c6e, #1a3366);
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
p {
  color: beige;
}

a {
  background-color: rgb(50, 112, 54);
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

a:hover {
  background-color: #555;
}

a:active {
  background-color: black;
}
