<!-- --------------------------------------------------------------- -->
<div class="productsBody">

    <div class="container py-5">

        <div class="row">

            <div class="col-lg-8 mx-auto">
                <div class="form-group">

                    <input class="form-control" type="text" [(ngModel)]="filters.keyword" name="keyword"
                        (input)="listProducts()" placeholder="Search by category">
                </div>
                <!-- List group-->
                <ul class="list-group shadow">
                    <!-- list group item-->
                    <div *ngFor="let product of products">
                        <li class="list-group-item" style="background-color: #2e2e30;">
                            <!-- Custom content-->
                            <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                                <div class="media-body order-2 order-lg-1">
                                    <h4 class="mt-0 font-weight-bold mb-2">{{product.category}}</h4>
                                    <div class="row  text-white mb-5">
                                        <div class="col-lg-7 ">
                                            <h3 class="display-4">{{product.item}}</h3>
                                        </div>
                                    </div>
                                    <h5 class="font-italic text-muted mb-0 ">{{product.description}}</h5>
                                    <!-- <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2">₹64,999</h6>
                                    
                                </div> -->
                                </div>
                            </div> <!-- End -->

                            <div style="padding: 1rem;">
                                <a routerLink="/buyProduct/{{product.id}}">Buy</a>
                            </div>
                        </li> <!-- End -->
                    </div>
                </ul> <!-- End -->
            </div>
        </div>
    </div>
</div>